/* Google font cdn */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
/* All reusable classes */
section {
    margin: 10rem auto;
}
.container {
    width: 75%;
    max-width: 1920px;
    margin: 0 auto;
}
.btn-primary {
    border: none;
    border-radius: 8px;
    background: #FF900E;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    padding: 2rem 2.5rem;
}
.section-title {
    color: #131313;
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
}
.section-p {
    color: #727272;
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 3.2rem;
}

/* header sections styles */
header {
    background: rgba(255, 144, 14, 0.10);
}
.navbar {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h3 {
    color: #131313;
    font-size: 4.5rem;
}
.navbar > ul {
    display: flex;
}
.navbar > ul > li {
    margin-left: 5rem;
}
.navbar > ul > li > a {
    color: #424242;
    font-size: 1.8rem;
    font-weight: 500;
}
.header-description {
    width: 60%;
    text-align: center;
    margin: 10rem auto 7rem;
}
.header-description h1 {
    font-size: 6.4rem;
    font-weight: 700;
    color: #131313;
}
.header-description p {
    font-size: 1.6rem;
    color: #727272;
    margin-top: 3.5rem;
    margin-bottom: 3rem;
}
.header-hero-img-container img {
    width: 100%;
    margin-bottom: 4.5rem;
}

/* Team sections styles */
.team-container {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 7.6rem;
}
.team-group-img {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
}
.team-group-img img {
    width: 100%;
}
.team-description {
    width: 50%;
}
.team-quick-list {
    color: #727272;
    font-weight: 500;
}
.team-of-our {
    color: #131313;
}
.team-features {
    color: #FF900E;
}

/* Feature container */
.feature-container {
    display: flex;
    align-items: center;
    gap: 14.6rem;
}
.feature-description {
    width: 40%;
}
.feature-description > h2 {
    padding-left: 2.4rem;
    border-left: 5px solid #FF900E;
}
.feature-card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 42px 30px 30px;
    margin-bottom: 2rem;
}
.feature-card h4 {
    font-size: 2rem;
    color: #131313;
    font-weight: 600;
    margin-bottom: 1rem;
}
.feature-card p {
    margin-bottom: 0;
}
.feature-img {
    width: 50%;
}
.feature-img img {
    width: 100%;
}
.feature-img > .btn-primary {
    font-size: 2.5rem;
    font-weight: 500; 
    padding: 46px 42px;
    position: relative;
    bottom: 10rem;
    left: -10rem;
}
.feature-img > .btn-primary > span {
    font-size: 6.5rem;
    font-weight: 700;
}

/* Facts section */
.facts-card-container {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    flex-wrap: wrap;
    margin-top: 10rem;
}
.facts-card {
    width: 24.2rem;
    height: 24.2rem;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.facts-card img {
    width: 20%;
}
.facts-card h4 {
    font-size: 4.5rem;
    font-weight: 600;
    color: #424242;
    margin: 1rem auto;
}
.facts-card p {
    font-size: 2rem;
    font-weight: 600;
    color: #727272;
}

/* Sponsors section */
.sponsors-description {
    margin: auto;
    text-align: center;
    width: 52rem;
}
.sponsors-img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 5rem;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}















/* Responsive part */
@media screen and (max-width: 576px) {
    section {
        margin: 5rem auto;
    }
    .container {
        width: 95%;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
    }
    .navbar h3 {
        font-size: 4.2rem;
    }
    .navbar > ul {
        margin-top: 1rem;
    }
    .navbar > ul > li {
        margin-left: 2rem;
        text-align: center;
    }
    .header-description {
        width: 90%;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .header-description h1 {
        font-size: 3.2rem;
    }
    .header-description p {
        margin-top: 1rem;
    }
    .header-hero-img-container img {
        margin-bottom: 1.5rem;
    }
    /* Team section */
    .team-container {
        flex-direction: column-reverse;
        width: 90%;
        gap: 3.5rem;
    }
    .team-description {
        width: 100%;
    }
    .team-group-img {
        width: 100%;
        gap: 1rem;
    }
    /* Feature section */
    .feature-container {
        flex-direction: column;
        gap: 4rem;
    }
    .feature-description {
        width: 95%;
    }
    .feature-img {
        width: 95%;
    }
    .feature-img > .btn-primary {
        left: 2rem;
        bottom: 11rem;
    }
    /* Facts section */
    .facts-description {
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .facts-card-container {
        margin-top: 3rem;
        gap: 4rem;
    }
    /* Sponsors section */
    .sponsors-container {
        width: 95%;
    }
    .sponsors-description {
        width: 90%;
        margin: auto;
    }
    .sponsors-img {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 3rem;
    }
    .sponsors-img img {
        width: 50%;
    }
}

/* Responsive part for medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .container {
        width: 90%;
    }
    .navbar h3 {
        font-size: 3rem;
    }
    .navbar > ul > li {
        margin-left: 2rem;
    }
    .header-description {
        width: 80%;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .header-description h1 {
        font-size: 4rem;
    }
    /* Team section */
    section {
        margin: 5rem auto;
    }
    .team-container {
        flex-direction: column-reverse;
        width: 90%;
        gap: 3.5rem;
    }
    .team-description {
        width: 100%;
    }
    .team-group-img {
        width: 100%;
        gap: 2rem;
    }
    /* Feature section */
    .feature-container {
        flex-direction: column;
        gap: 4rem;
    }
    .feature-description {
        width: 70%;
    }
    .feature-img {
        width: 70%;
    }
    .feature-img > .btn-primary {
        left: 10rem;
        bottom: 11rem;
    }
    /* Facts section */
    .facts-description {
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .facts-card-container {
        margin-top: 3rem;
        justify-content: center;
        gap: 5rem;
    }
    /* Sponsors section */
    .sponsors-img {
        justify-content: center;
        gap: 4rem;
    }
}
